In [1]:
import numpy as np
import pandas as pd
from sqlalchemy import create_engine, func

# Flask Setup
#################################################

engine = create_engine("sqlite:///happiness_db.sqlite")

In [2]:
happiness_df = pd.read_sql('SELECT * FROM happiness_data', engine)
countries_df = pd.read_sql('SELECT * FROM country', engine)
joined_df = pd.merge(happiness_df, countries_df, on = "country_id")

In [5]:
joined_df.head(20)

,year,country_id,happiness_score,gdp,life_expectancy,freedom_score,trust_score,generosity_score,country,region
0,2006.0,0.0,7.473,11.050,71.54,0.919,0.408,0.290,Switzerland,Western Europe
1,2009.0,0.0,7.525,11.055,72.26,0.891,0.342,0.125,Switzerland,Western Europe
2,2012.0,0.0,7.776,11.079,72.78,0.945,0.323,0.139,Switzerland,Western Europe
3,2014.0,0.0,7.493,11.098,73.06,0.949,0.283,0.060,Switzerland,Western Europe
4,2015.0,0.0,7.572,11.100,73.20,0.928,0.210,0.109,Switzerland,Western Europe
5,2016.0,0.0,7.459,11.106,73.50,0.934,0.302,0.088,Switzerland,Western Europe
6,2017.0,0.0,7.474,11.115,73.80,0.925,0.316,0.180,Switzerland,Western Europe
7,2018.0,0.0,7.509,11.134,74.10,0.926,0.301,0.101,Switzerland,Western Europe
8,2019.0,0.0,7.694,11.136,74.40,0.913,0.294,0.036,Switzerland,Western Europe
9,2020.0,0.0,7.508,11.081,74.70,0.917,0.280,-0.064,Switzerland,Western Europe
10,2006.0,159.0,7.473,11.050,71.54,0.919,0.408,0.290,Switzerland,Western Europe
11,2009.0,159.0,7.525,11.055,72.26,0.891,0.342,0.125,Switzerland,Western Europe
12,2012.0,159.0,7.776,11.079,72.78,0.945,0.323,0.139,Switzerland,Western Europe
13,2014.0,159.0,7.493,11.098,73.06,0.949,0.283,0.060,Switzerland,Western Europe
14,2015.0,159.0,7.572,11.100,73.20,0.928,0.210,0.109,Switzerland,Western Europe
15,2016.0,159.0,7.459,11.106,73.50,0.934,0.302,0.088,Switzerland,Western Europe
16,2017.0,159.0,7.474,11.115,73.80,0.925,0.316,0.180,Switzerland,Western Europe
17,2018.0,159.0,7.509,11.134,74.10,0.926,0.301,0.101,Switzerland,Western Europe
18,2019.0,159.0,7.694,11.136,74.40,0.913,0.294,0.036,Switzerland,Western Europe
19,2020.0,159.0,7.508,11.081,74.70,0.917,0.280,-0.064,Switzerland,Western Europe

In [12]:
len(happiness_df)

8396

In [19]:
countries_df.groupby("region").count()

                                 country_id  country
region
Australia and New Zealand                10       10
Central and Eastern Europe              144      144
Eastern Asia                             28       28
Latin America and Caribbean             109      109
Middle East and Northern Africa          96       96
North America                            10       10
Southeastern Asia                        44       44
Southern Asia                            35       35
Sub-Saharan Africa                      195      195
Western Europe                          103      103

In [14]:
len(joined_df)

8396

In [15]:
happiness_df.head(20)

,year,country_id,happiness_score,gdp,life_expectancy,freedom_score,trust_score,generosity_score
0,2006.0,0.0,7.473,11.050,71.54,0.919,0.408,0.290
1,2009.0,0.0,7.525,11.055,72.26,0.891,0.342,0.125
2,2012.0,0.0,7.776,11.079,72.78,0.945,0.323,0.139
3,2014.0,0.0,7.493,11.098,73.06,0.949,0.283,0.060
4,2015.0,0.0,7.572,11.100,73.20,0.928,0.210,0.109
5,2016.0,0.0,7.459,11.106,73.50,0.934,0.302,0.088
6,2017.0,0.0,7.474,11.115,73.80,0.925,0.316,0.180
7,2018.0,0.0,7.509,11.134,74.10,0.926,0.301,0.101
8,2019.0,0.0,7.694,11.136,74.40,0.913,0.294,0.036
9,2020.0,0.0,7.508,11.081,74.70,0.917,0.280,-0.064
10,2006.0,159.0,7.473,11.050,71.54,0.919,0.408,0.290
11,2009.0,159.0,7.525,11.055,72.26,0.891,0.342,0.125
12,2012.0,159.0,7.776,11.079,72.78,0.945,0.323,0.139
13,2014.0,159.0,7.493,11.098,73.06,0.949,0.283,0.060
14,2015.0,159.0,7.572,11.100,73.20,0.928,0.210,0.109
15,2016.0,159.0,7.459,11.106,73.50,0.934,0.302,0.088
16,2017.0,159.0,7.474,11.115,73.80,0.925,0.316,0.180
17,2018.0,159.0,7.509,11.134,74.10,0.926,0.301,0.101
18,2019.0,159.0,7.694,11.136,74.40,0.913,0.294,0.036
19,2020.0,159.0,7.508,11.081,74.70,0.917,0.280,-0.064

In [16]:
happiness_df['year'].nunique()

16

In [17]:
happiness_df['country_id'].nunique()

732